.btn-d-black.checkout-btn {
    color: white;
    width: 100%;
    background-color: #000;
}

body {
    background-color: #000;
}

.quest-v2-content {
    background-color: #000;
}

.review-brand-content {
    margin-bottom: 3rem;
}

.brands {
    background-color: #fff;
    border-radius: 16px;
    width: fit-content;
    padding: 32px 16px 32px 16px;
}

.brand-images p:not(:last-of-type) {
    margin-right: 16px;
}

.brand-images.mobile p {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.questionnaire-v2-main .container-fluid.brands-reviews-content {
    margin-bottom: 5rem;
    padding: 0 8px;
}

.brands.mobile {
    width: 85%;
    margin: auto;
}

.brands-rating {
    margin-right: 0px;
}

.brand-images img {
    margin-right: 16px;
}

.brands-rating img {
    max-height: 4rem;
    margin: auto;
}

.choose-perfer-content {
    background-color: #e4e4e4;
}

.reviews {
    margin-top: 5rem;
}

.review-user-name {
    color: #484f47;
}
.review-content {
    color: #979caa;
    font-size: 10px;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.swiper {
    width: 100%;
}

.review-card .card-body {
    padding-bottom: 0;
    padding-top: 0;
}

.reivew-star {
    margin-right: 7rem;
    border: 1px solid #e4e4e4;
    border-radius: 25px;
    padding-right: 8px;
    padding-left: 8px;
}

.stars li {
    font-size: 10px;
}

.swiper-slide .card {
    padding: 8px;
    border-radius: 16px;
    margin-right: 32px;
}

.swiper-wrapper {
    transition-timing-function: linear;
}

.review-card .card-header {
    border: none;
}

.review-card .card-footer {
    border: none;
}

.review-brand-content {
    margin-bottom: 32px;
}

.card-images img {
    min-width: 140px;
    min-height: 170px;
    max-height: 170px;
}

@media (max-width: 670px) {
    .brand-images p {
        font-size: 12px;
    }
    .brands-rating p {
        font-size: 12px;
    }
    .brands-rating li {
        font-size: 12px;
    }
    .brands-title p {
        font-size: 12px;
    }
    .brands .brand-images.mobile img {
        max-width: 4rem;
        max-height: 4rem;
        margin-right: 8px;
    }

    .brand-images.mobile p {
        font-size: 6px;
    }
}

.brands .brand-images.mobile img {
    max-width: 4rem;
    max-height: 4rem;
}

@media (max-width: 500px) {
    .brands {
        padding: 16px 8px 16px 16px;
    }

    .brands-rating {
        padding: 8px;
    }

    .brand-images p {
        font-size: 12px;
    }
    .brands-rating p {
        font-size: 12px;
    }
    .brands-rating li {
        font-size: 12px;
    }
    .brands-title p {
        font-size: 12px;
    }
}

@media (max-width: 370px) {
    .brand-images img {
        margin-right: 4px !important;
    }

    .brands-rating img {
        max-height: 4rem;
        margin: auto;
    }

    .brand-images p {
        font-size: 8px;
    }
    .brands-rating p {
        font-size: 8px;
    }
    .brands-rating li {
        font-size: 8px;
    }
    .brands-title p {
        font-size: 8px;
    }
}
