@font-face {
    font-family: "Poppins";
    src: url("font/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Yeseva";
    src: url("font/YesevaOne-Regular.ttf");
}

@font-face {
    font-family: "Poppins-bold";
    src: url("font/Poppins-Bold.ttf");
}

.font-poppins {
    font-family: "Poppins";
}

.font-yeseva {
    font-family: "Yeseva";
}

.font-poppins-bold {
    font-family: "Poppins-bold";
}

.font-heavy-green {
    color: #3f453f;
}

.font-black {
    color: #000;
}

.font-weight-600 {
    font-weight: 600;
}

.font-gray-light {
    color: #979caa;
}
